body {
    font-family: 'Poppins', sans-serif;
}

.clearfix ::after {
        content: "";
        clear: both;
        display: table;
    }


.navbar {
    padding: 15px;
    border-radius: 20px;
    margin: 15px;
}

.button {
    border-radius: 12px;
    margin-left: 10px;
}

.input {
    border-radius: 12px;
    border: none;
}

.section-tags {
    padding: 0;
    overflow: hidden;
    margin: 25px 50px;
}

.tags {
    margin-top: 25px;
    height: 150px;
}

.tags .tag {
    border-radius: 12px;
}

img {
    border-radius: 12px;
}

h1 {
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 2px;
}

.material-symbols-outlined {
    margin-right: 5px;
}


@media only screen and (max-width: 1024px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search {
        display: flex;
        justify-content: center;
    }
}